* {
  margin: 0;
}
body {
  overflow: hidden;
}
table {
  height: 100%;
  width: 80% !important;
}
table img {
  display: none;
}
table td {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.desaturate {
  -webkit-filter: grayscale(1);
}
.contrast {
  -webkit-filter: grayscale(1) contrast(5);
}
.negative {
  -webkit-filter: grayscale(1) invert(100%) contrast(10);
}
.blur {
  -webkit-filter: grayscale(1) blur(10px);
}
#preview {
  position: absolute;
  left: 80%;
  width: 20%;
}
#preview img {
  width: 100%;
}
.home #preview {
  display: none;
}
