* {
  margin: 0;
}
body {
  overflow: hidden;
}
table {
  height: 100%;
  width: 80% !important;
}
table img {
  display: none;
}
table td {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#preview {
  position: absolute;
  left: 80%;
  width: 20%;
}
#preview img {
  width: 100%;
}
