* {
  margin:0; 
}
body {
  overflow:hidden;
}
#table-container {
  height:100%;
  width:70%;
  z-index:100;
}

table{
  height:80%;
  img {
    display:none;
  }
  td {
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    max-width:100px;
    max-height:80px;    
  }
}
.desaturate td{
  -webkit-filter: grayscale(1);
}
.contrast td{
  -webkit-filter: grayscale(1) contrast(5);
}
.negative td {
  -webkit-filter: grayscale(1) invert(100%) contrast(10);
}
.crop td {
  background-size:cover;    
}
.blur {
  -webkit-filter: grayscale(1) blur(10px);
}
#preview {
  position:absolute;
  right:0%;
  width:30%;
  height:100%;
  p {
    width:100%;
    position:absolute ;
  }
  img {
    width:100%;
  }
  h2 {
    margin-top:100%;
  }
}

.home #preview {
  display:none;
  z-index:1000;
  
}